@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navBar{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    line-height: 80px;
}
.navbarlist{
    text-decoration: none;
    padding-left: 120px;
    list-style-type: none;
}
.searchNav{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}
.navBar span{
    font-size: 50px;
    font-weight:900;
}
.navbarlist b:hover{
    cursor: pointer;
    color: brown;
}
.slider{
    height: 500px;
    width: 90%;
    position: relative;
    overflow: hidden;
    left: 580px;
    margin-top: 100px;
    margin: auto;
    border-radius: 20px;
    top: 300px;
    transform: translate(-50%,-50%);
}
.slide-content{
    margin: 0px;
    padding: 0px;
    height: 100%;
    animation: slide 16s infinite;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 5s;
    object-fit: cover;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
    
}

.seller span{
    font-size: 30px;
    font-weight: 600;
    color: #021C5C;
    position: relative;
    top: 80px;
}
.seller{
    margin-left: 500px;
    margin-top: 50px;
}
.back{
    background: rgba(239, 249, 254, 0.84);
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    top: 150px;
    padding: 12px;
    right: 50px;
    animation: slide 5s linear;
}
.card{
    width: 203px;
    margin-left: 100px;
}
.cards-T{
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.cards-R{
    display: flex;
    justify-content: center;
    color: #021C5C;
    font-family: poppins;
    font-weight: 600;
}
.card img{
    height: 250px;
    width: 200px;
    position: relative;
}
.card1{
    width: 100%;
}



  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
  }
  

  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-top: 50px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  
